main{
    width: 80%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.959);
    max-width: 960px;
    padding: 50px;
    border-radius: 50px;
    font: optional;
    font-size: 20px;
}

.destaque{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block
}


footer img{
    width: 40px;
    margin: 0 10px;
    
}

footer{
    width: 960px;
    padding: 20px;
    text-align: center;
    margin: 0 auto 50px auto;
}

header{
    font-size: 40px;
    color: rgb(197, 4, 4);
    font-weight: bold;
    border-top: 2px rgba(255, 255, 255, 0.959) ;

}

body{
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(231, 134, 191);
}



