main{
    width: 80%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.959);
    max-width: 960px;
    padding: 50px;
    border-radius: 50px;
    font: optional;
    font-size: 20px;
}

.destaque{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block
}
footer img{
    width: 32px
    
}

header{
    font-size: 40px;
    color: rgb(197, 4, 4);
    font-weight: bold;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(246, 125, 125);
}



